@media(max-width: 320px){
	.edge,.edge>div{
		height:100vh !important
	}
	.marks>li img{
		padding:15px 0;
	}
}
@media (min-width: 400px){
	#fullpage .info-control .items-control>li{
		width: 48%;
	}
	.sidebar-open{
		header,#main-wrap{
	    -webkit-transform: translateX(200px);
   	 	transform: translateX(200px);
		}
		#menu-side{
			width: 200px;
		}
	}
	.info-control .point-client{
		ul li{
			margin-right: 10px;
		}
	}
	#menu-side>img{
		left: 0;
		margin:0 auto;
	}
}
@media (min-width: 480px){
	.btn-dual{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-pack:justify;
		    -webkit-box-pack:justify;
		        justify-content:space-between;
	}
	.edge{
		.block-b{
			>div{
				h2{
					font-size: 36px;
					line-height: 32px;
				}
				p{
					font-size: 19px;
				}
				.btn-dual{
					width: 400px;
					flex-wrap:wrap;
				}
			}
		}
	}
}
@media(min-width:400px) and (max-width:640px){
	.info-control .items-control>li p{
		min-height:90px;
	}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.edge,.edge .fp-tableCell{
			height: 500px !important;
  	}
}
@media (min-width: 640px){
	.navegacion #navigation-ul #start-now-btn {
	    margin-right: 25px;
	}
	#navigation-ul{
		margin-left: 30px;
	}
	.sidebar-open #main-wrap{
		top: 100px;
	}
	.edge .block-b>div h2{
		margin-top: 100px;
	}
	.contact-responsive{
		display: none;
	}
	.navegacion header{
		.contact-head{
			height: 0;
			position: absolute;
			top: -100vh;
		}
		.dgt-container{
			height: 75px !important;
		}
	}
	.last-step>h2{
		font-size: 30px;
	}
	#breadcrumb .dgt-container{
		padding: 10px 0;
	}
		header{
			padding-bottom: 0;
		 .dgt-container{
	 			position: relative;
				height: 100px;
				-ms-flex-align:center;
				    -webkit-box-align:center;
				        align-items:center;
				 /*transition: all 0.25s ease;*/
		}
	}
	header .dgt-container h1 a img{
		max-width:none;
		display: block;
		width: 200px;
	}
	.contact-head{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-item-align:start;
		    align-self:flex-start;
	}
	#navigation-ul{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-pack:end;
		    -webkit-box-pack:end;
		        justify-content:flex-end;
		-ms-flex-item-align:end;
		    align-self:flex-end;
		position: absolute;
		right: 0;
		bottom:22px;
		>a{
			position: relative;
		}
		#start-now-btn{
			width: 130px;
			margin-right: 25px
		}
		.phonefixed{
			display: none;
		}
		button{
			-ms-flex-item-align:center;
			    -ms-grid-row-align:center;
			    align-self:center;
		}
	}
	.contact-head .phone{
		display: block;
		margin-right: 35px;
		position: relative;
		&:after{
			content:'';
			position: absolute;
			height:100%;
			right:-17px;
			width: 1px;
			background-color: $colorweb;
		}
	}
	.more-plugin{
		h2,>span{
			width: 100%;
		}
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-wrap:wrap;
		    flex-wrap:wrap;
		.info-plugin{
			width: 45%;
			&:nth-child(odd){
					margin-right: 10%;
			}
		}
	}
	 .details-payments{
		  .total-payments{
			  >li:nth-child(2){
					padding:10px 0;
				}
				>li{
					 p{
					 	font-size: 16px;
					 	span{
					 		font-size: 14px;
					 	}
					 }
				}
			}
		}
		.form-onestep{
			>ul{
				li{
					width: 49%;
					margin-right:2%;
					&:nth-child(2n+2){
						margin-right: 0;
					}
					&:nth-child(n+5){
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}
		/*SECTION STEPS */
	.tab-pane{
		>h2{
			font-size: 30px;
		}
		>p{
			font-size: 	20px;
		}
	}
	.form-twostep{
		>ul{
			li{
				width: 49%;
				margin-right: 2%;
				&:nth-child(2n+2){
					margin-right: 0;
				}
			}
		}
	}
	.details-payments h4 span{
		display: inline;
	}
	/*FIXED HEADER INTERNAS*/
	.inner-header{
		.dgt-container{
				height: 100px;
		}
	}
	.inner-page-idx{
		padding-top: 100px;
	}
	/*FIXED HEADER INTERNAS*/
}
@media(min-width: 520px){
		footer{
			padding: 30px 20px;
			ul,ul>li{
				text-align: left;
			}
		.contac-info{
			width: 100%;
			.contact-direction{
				-ms-flex-wrap:nowrap;
				    flex-wrap:nowrap;
				-ms-flex-pack:distribute;
				    justify-content:space-around;
				>li{
					width: 28%;
				}
			}
		}
		#foot-boxs{
			  width: 100%;
		    margin-bottom: auto;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
		}
		.toggle-ul{
			width: 20%;
			>ul{
				display: block;
			}
		}
		.social{
			>li{
				/*width: 4.5%;*/
				text-align: center;
				width: 20px;
				margin-right: 13px;
			}
		}
	}
}
@media (min-width: 640px) and (max-width: 863px){
	.btn-dual{
		margin: 20px auto;
		max-width: 500px;
	}
}
@media(max-width: 640px){
	.just-month .dgt-container{
		margin-bottom: 30px;
	}
	.contact-head{
		margin-left: auto;
	}
}
@media(min-width:640px){
	#navigation-ul>a{
		border-radius: 0;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	}
}
@media (min-width: 768px){
	.info-control {
		.btn-dual{
			margin-bottom: 100px;
		}
		.point-client{
			padding: 68px 50px;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-ms-flex-align: center;
			-webkit-box-align: center;
			justify-content:center;
			-ms-flex-wrap:wrap;
			flex-wrap:wrap;
			h3{
				font-size: 24px;
			}
			ul li{
				font-size: 24px;
			}
			h4{
				font-size: 16px;
			}
		}
		.tittle-color{
			padding: 30px 0;
		}
	}
	.dwn-flex .btn-flex{
		width: 250px;
		height: 50px;
		font-size: 20px;
		padding: 0 15px;
	}
.edge img{
	left:0;
	width: 100%;
}
	.inner-header .dgt-container .contact-head{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	}
	.fp-viewing-firstPage{
		header .dgt-container{
			height: 100px;
		}
		.contact-head{
			display: -ms-flexbox !important;
			display: -webkit-box !important;
			display: flex !important;
		}
	}
	header .dgt-container{
		height: 75px;
	}
	.contact-head{
		display: none;
	}
	.cnt-button-form li{
		 button:after,a:after{
			font-size: 18px;
		}
	}
	#fullpage footer .fp-tableCell{
		padding-top: 0;
	}
	.details-payments h4{
		text-align: left;
	}
	.dwn-flex{
		padding: 40px 20px;
	}
	.last-step{
		margin-top:50px;
	}
	/*PARTNER STYLES */
	.partner,.part-program{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	}
	.partner{
		position: relative;
		.dgt-container{
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			margin: 40px auto;
			.block-part{
				width: 50%;
				max-width: 830px;
				>p{
					margin-bottom: 20px;
					font-size: 16px;
					line-height: 22px;
				}
				>h2{
					font-size: 25px;
				}
			}
			.block-part-b{
				position: absolute;
				right: 0;
				bottom:0;
				margin: 0;
			}
		}
		p.tittle-color{
			font-size: 16px;
		}
	}
	.part-program{
		.dgt-container{
			text-align: center;
			>h2{
				padding: 30px 0 15px 0;
				font-size: 28px;
			}
			>p{
				max-width: 850px;
				margin:0 auto;
				font-size: 16px;
			}
		}
		>span{
			text-align: center;
			padding:20px 0;
		}
		.form-onestep>ul li:nth-child(n+5){
			width: 49%;
			margin-right: 2%;
		}
		.form-onestep>ul li:nth-child(n+6){
			margin-right: 0;
		}	
		.form-onestep>ul li{
			input{
				padding: 10px 15px; 
			}
			&:last-child{
				width: 100%;
				margin-right: 0;
			}
		}
	}
	/*STEP 4 STYLES */
	.last-step{
		>h2{
			font-size: 50px;
		}
		>span{
			font-size: 30px;
		}
		>h4{
			padding: 25px 15px;
		}
		>p{
			margin:30px 0;
		}
		.total-payments{
			margin:30px 0;
			>li{
				&:first-child{
					margin-bottom: 20px;
				}
				p{
					font-size: 16px;
				}
			}
		}
	}
	.info-confirmation{
		padding: 30px 20px;
		.code-nmb{
			max-width: 300px;
			margin: 0 auto;
		}
	}
	.logo-plugin{
		margin-bottom: 30px;
	}
	/*STEP 4 STYLES */
	.tittle-plugin{
		h2{
			font-size: 24px;
			padding:60px 0;
		}
	}
	.details-product{
		>li{
			width: 47%;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			&:nth-child(odd){
				margin-right: 6%;
			}
			i{
				width: 70px;
				height: 70px;
				font-size: 30px;
				margin:inherit;
				margin-right: 0;
			}
			.bcr{
				width: 75%;
				margin-left: 20px;
			}
			h2{
				font-size: 24px;
			}
		}
	}
	#fp-nav{
		left: 0 !important;
	}
	#fullpage{
		.fp-tableCell{
			padding-top: 75px;
		}
		.edge{
			>div{
				padding-top: 0;
			}
		}
		.info-control{
		 	.items-control>li{
		 		width: 20%;
		 	}
		}
		.just-month{
			.dgt-container{
				margin-top: 0;
			}
			.block-a{
				img{
					max-width: 350px;
				}
			}
		}
		.start-trial{
			p{
				max-width: 500px;
				margin:0 auto;
			}
			.btn-flex{
				margin-top: 15px;
				width: 300px;	
			}
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-ms-flex-direction:column;
			-webkit-box-orient:vertical;
			-webkit-box-direction:normal;
			flex-direction:column;
			-ms-flex-pack:center;
			-webkit-box-pack:center;
			justify-content:center;
			-ms-flex-align:center;
			-webkit-box-align:center;
			align-items:center;
		}
	}
	.visitor-analytics{
		font-size: 25px;
		padding: 30px 0;
	}
		.block-b{
			p{
				font-size: 16px;
				line-height: 26px;
			}
			h2{
				font-size: 45px;
			}
			>span{
				font-size: 20px;
			}
		}
	.marks{
		>li{
			width: 32.6%;
			margin-right: 1.1%;
			height: 70px;
			&:nth-child(odd){
				margin-right:1.1%; 
			}
			&:nth-child(3n){
				margin-right: 0;
			}
			&:last-child{
				width: 32.6%;
			}
			&:nth-child(n+6){
				margin-bottom: 0;
			}
		}
	}
	.more-plugin{
		h2{
			font-size: 45px;
		}
		>div p{
			font-size: 16px;
			line-height: 26px;
		}
		>span{
			margin-bottom: 35px;
			font-size: 25px;
		}
		.info-plugin{
			>h4{
				font-size: 23px;
			}
		}
	}
	/*STEPS STYLES */ 
	.tab-content{
		.cnt-button-form{
			margin-top: 30px;
		}
	}
	.details-payments .total-payments>li:nth-child(2){
		padding:20px 0;
	}
	.tab-idx>li h3{
		font-size: 15px;
	}
	.tab-pane{
		position:relative;
	}
	.tab-pane>h2{
		margin-top: 40px;
	}
	.form-step .get-info-card{
		position:relative;
		>li{
			&:nth-child(1),&:nth-child(2){
				border:none;
				input{
					border:1px solid #dedede;
					border-radius:3px 3px 3px 3px; 
					max-width:370px;
					padding:10px 15px;
				}
			}
			select{
				padding:10px 15px;
			}
		}
		.expiration-card{
			width: 180px;
			margin-right: 6px;
		}
		.wec{
   		max-width: 175px;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    -ms-flex-item-align: baseline;
	        align-self: baseline;
	    position: absolute;
	    right: 0px;
	    top: 0;
	    >p{
  	    display: block;
				margin-bottom: 26px;
				font-size: 16px;
	    }
	    img{
	    	max-width:none;
	    }
		}
	}
	.cnt-tab{
		max-width: 600px;
		margin:0 auto;
	}
	.form-step{
		width: 100%;
		max-width: 600px;
	}
	footer{
			padding:40px 40px;
			>div{
				width: 1230px;
				margin:0 auto;
			}
			.logo-mobile{
				display: none;
			}
			.contac-info{
				width: 20%;
				-ms-flex-order:0;
				    -webkit-box-ordinal-group:1;
				        order:0;
				 .logo-footer{
				 	display: block;
				 	padding-bottom: 30px;
				 }
				 .contact-direction{
	 			 	display: flex;
				 	-ms-flex-wrap:wrap;
				 	    flex-wrap:wrap;
				 	>li{
				 		width: 100%;
				 		padding-bottom: 20px;
				 		&:last-child{
				 			padding-bottom: 0;
				 		}
				 	}
				 }
			}
			#foot-boxs{
				width: 80%;
				padding-top: 0;
			}
			.toggle-ul{
				>ul li{
					padding:10px 0;
					&:last-child{
						padding-bottom: 0;
					}
				}
			}
			.social{
				-ms-flex-pack:end;
				    -webkit-box-pack:end;
				        justify-content:flex-end;
			}
		}
		.foot-fl .fp-tableCell{
			padding-top: 0;
		}
}
@media(min-width:768px) and (max-width:1024px){
	#fullpage .just-month{
	 .dgt-container{
			    height: 51%;
		}
		.start-trial{
			/*height: 200px;*/
			height: 20%;
			margin-top: auto;
		}
	}
	.marks>li img{
		padding: 0;
	}
}
@media (min-width: 864px){
	.block-b .btn-dual .btn-flex{
		margin-bottom: 10px;
	}
	#fullpage{
		.info-control{
			.btn-dual{
				margin:0 auto;
				margin-top: 40px;
				.btn-flex{
					width: 300px;
				}
			}
		}
	}
	.more-plugin .info-plugin>h4{
		font-size: 30px;
	}
	.just-month{
		.dgt-container{
			margin-top: 55px;
			margin-bottom: 55px;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			>div{
				width: 48%;
				margin-bottom: 0;
			}
			.block-a{
				margin-right: 4%;
				img{
					max-width: none;
				}
			}
		}
	}
	.block-b{
		>span{
			margin-left: 40px;
			text-align: left;
			font-size: 16px;
		}
		h2{
			font-size: 38px;
			padding-top: 35px;
			text-align:left;
		}
		h3{
			font-size: 16px;
		}
	}
	.more-plugin{
		.info-plugin{
			.btn-flex{
				width: 250px;
			}
		}
	}
	.btn-dual {
		max-width: 620px;
		.btn-flex{
			margin-bottom: 0;
			}
	}
}
@media(width:1024px) and (height:1366px){
	#fullpage .just-month .marks{
		height: 28% !important;
	}
	#fullpage .just-month .block-a img{
		max-width: none;
	}
	.info-control{
		>.tittle-color{
				margin-top:200px;
			}
		}
		#fullpage .destr .fp-tableCell{
		-webkit-box-align:start;
		align-items: flex-start;
		-webkit-align-items: start;
	}
}
@media (min-width: 1024px){
	.inner-page-idx{
		#navigation-ul #start-now-btn{
			margin-right: 0;
		}
	}
	.navegacion #navigation-ul #start-now-btn{
		margin-right: 25px;
	}
	.edge {
		.alter-img{
			display: none;
		}
		.desk-img{
			display: flex;
		}
	}
	#menu-side>img{
		width: 100px;
	}
	.partner .dgt-container .block-part{
		width: 60%;
	}
	.part-program{
		.dgt-container>h2{
			font-size: 32px;
		}
	}
	.partner .dgt-container{
		 .block-part>h2{
		 	font-size: 32px;
		 }
	}
	.tittle-plugin{
		h2{
			font-size: 30px;
			padding:60px 0;
		}
	}
	#fullpage{
		.block-b>div h3{
			margin-bottom: 30px;
		}
		.just-month{
			.block-b{
				h2{
					font-size: 	25px;
				}
			}
			.dgt-container{
					margin-bottom: 	10px;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
			}
		}
	}
	header{
		padding:0;
	}
	#menu-options{
		display:-ms-flexbox;
		display:-webkit-box;
		display:flex;
		>li{
			margin-right: 25px;
		}
	}
	#navigation-ul{
		>a{
			height:100%;
		}
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-ms-flex-align:center;
			    -webkit-box-align:center;
			        align-items:center;
			height: 36px;
	}
		.block-b{
			font-size: 45px;
		}
	.form-step{
		position: relative;
		z-index: 50;
	}
	/*.img-phone-pm{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		bottom:0;
		left:40px;
		max-width: 170px;
	}*/
	.cnt-button-form li{
		 button,a{
			width: 300px;
			height: 50px;
			font-size: 16px;
		}
	}
	.last-step .total-payments>li p{
		font-size: 18px;
	}
	.last-step .total-payments li:nth-child(2){
		padding-top: 10px;
	}
	footer .social>li{
		margin-right: 14px;
	}
	/*EFECT HAMBURGUESA MENU */
	.fp-viewing-firstPage{
		#navigation-ul{
			overflow: hidden;
			>button{
				max-width: 0;
			}
		}
		#menu-options{
			opacity: 1;
		}
	}
	.inner-page-idx{
	 	#menu-options{
			opacity: 1;
		}
		#btn-menu{
			width: 0;
		}
	}
	.navegacion{
		 #menu-options{
			opacity: 0;
					}
			#btn-menu{
				width: 36px;
			}
	}
	.fp-viewing-firstPage #navigation-ul #start-now-btn{
			margin-right: 0;
		}
}
@media(min-width:1020px) and (max-width:1150px){
	#fullpage .just-month{
		.dgt-container{
			height: 45%;
		}
		.marks{
			height: 24%;
			>li{
				height: 30%;
			}
		}
		.start-trial{
			height: 26%;
		}
	}
	.info-control .items-control{
		padding: 0 40px;
	}
	.edge .desk-img{
		left: auto;
		right:-38%;
		width: auto;
	}
	#fullpage .info-control .btn-dual{
		margin-top: 20px;
	}
	.info-control{
		.tittle-color{
    	padding: 20px 0;
    }
	 	.point-client {
	    h3{
	    	padding-bottom: 10px;
	    }
		}
	}
}
@media(min-width:1020px) and (max-width:1150px) and (orientation:landscape){
	#fullpage .just-month .marks{
		height: 27%;
	}
	#fullpage .just-month .start-trial{
		height: 180px;
	}
}
@media (min-width:1020px) and (max-width:1030px) and (orientation:landscape){
	#fullpage .just-month{
		/*.start-trial{
			height: 200px;
			margin-top: auto;
		}*/
	}
	.info-control .point-client{
		display: none;
	}
	.point-client{
		display: block;
	}
	.edge .block-b>div{
			margin:0;
		justify-content:center;
		.btn-dual{
			margin:0;
		}
		h2{
			text-align: left;
		}
		p{
			text-align: left;
		}
	}
	.edge .desk-img{
		right: -10%;
	}
}
@media(min-width: 1200px){
	.info-control .point-client{
		display: none;
	}
		.edge{
		.block-b{
			height: auto;
			>div{
				max-width: 650px;
				height: auto;
				flex-direction:row;
				flex-wrap:wrap;
				margin:0;
				 h2{
					font-size: 40px;
					text-align: left;
					margin-top: 0;
					padding-top: 0;
					line-height: 40px;
				}
				p{
					text-align: left;
					margin: 30px 0
				}
				.btn-dual{
					width: 500px;
					margin: 0 15px 0 0;
					.btn-flex{
						width: 200px;
						margin-bottom: 10px;
					}
				}
			}
		}
		.tittle-color{
			text-align: left;
		}
		.point-client{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap:wrap;
		}
	}
	.edge .block-b>div .btn-dual{
		max-width: 620px;
    width: 100%;
	 .btn-flex{
	 	width: 300px;
		}
	}
		.inner-header .dgt-container{
			h1 a img{
				width: auto;
			}
		}
				.navegacion .dgt-container{
					h1 a img{
						width: 190px;
					}
				}
	.fp-viewing-firstPage{
			header .dgt-container h1 a img{
			width: 250px;
		}
	}
	header .dgt-container h1 a img{
		width: 190px;
	}
	.dwn-flex{
		padding: 80px 25px;
	}
	.last-step>h2{
		font-size: 58px;
	}
	.partner p.tittle-color{
		font-size: 24px;
	}
	.part-program .dgt-container>span{padding:30px 0 35px 0}
	.part-program .dgt-container>h2{
		padding: 60px 0 30px 0;
	}
	.partner .dgt-container .block-part>h2,.part-program .dgt-container>h2{
		font-size: 45px;
	}
	.partner .dgt-container{
		    margin: 100px auto 80px auto;
	}
	.partner .dgt-container .block-part-b{
		max-width: 450px;
	}
	#section-steps{
		.dgt-container{
			width: 100%;
		}
	}
	.details-product>li{
		h2{
			font-size: 28px;
			>span{
				display:block;
			}
		}
	}
	#fp-nav{
		left: 17px !important;
	}
	#fullpage{
		.just-month .dgt-container{
			margin-top: 0;
		}
		 .info-control{
			.tittle-color{
				font-size: 35px;
			}
			.items-control>li{
				h3{
					font-size: 21px;
					margin-bottom: 10px;
				}
				p{
					font-size: 15px;
				}
				i{
					width: 80px;
					height: 80px;
					font-size: 40px;
				}
			}
		}
	}
	.marks>li{
		height: 90px;
			height: 70px;
			width: 10.5% !important;
			margin-right: 0 !important;
			margin-bottom: 0;
			img{
				max-width: 128px;
			}
	}
	.start-trial{
		height: 41%;
		max-height: 300px;
	}
	.edge{
		.btn-dual{
			max-width: 620px;
			margin-top: 0;
			.btn-flex{
				width: 300px;
				height: 55px;
			}
		}
	}
	.visitor-analytics{
		padding: 40px 0;
		font-size: 30px;
		line-height: 30px;
	}
	.more-plugin .info-plugin{
		margin-bottom: 90px;
	}
	.more-plugin>span{
		margin-bottom: 75px;
	}
	.marks{
		-ms-flex-pack:justify;
		    -webkit-box-pack:justify;
		        justify-content:space-between;
	}
	.just-month .dgt-container{
		/*>div{
			width: auto;
		}*/
	 	 .block-a{
			min-width: 500px;
			margin-right: 50px;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			display: -webkit-box;
			-ms-flex-align: center;
			-webkit-box-align: center;
			align-items: center;
			img{
				max-width: none;
			}
	 	 }
	}
 	.block-b{
		 h2{
			font-size: 46px;
			padding-top: 50px;
		}
		>span{
			margin-left: 60px;
		}
		>span{
			font-size: 24px;
		}
		p{
			margin:30px 0;
		}
		h3{
			font-size: 17px;
		}
	}
	.btn-dual{
		margin-top: 55px;
		.btn-flex{
			font-size: 19px;
			width: 250px;
			height: 55px !important;
		}
	}
	.more-plugin{
		margin:70px auto 10px auto;
		>div p {
			padding: 30px 0;
		}
	}
	.tab-pane{
		>h2{
			span{
				display: block;
			}
			font-size: 	60px;
			margin-top: 	80px;
		}
		>p{
			font-size: 	24px;
		}
	}
	.twopane{
		h2{
			margin-top: 130px;	
		}
	}
	.tab-idx{
		max-width: 1000px;
	}
	footer .social>li{
		margin-right: 24px;
	}
}
@media (min-width:1200px) and (max-width:1366px){
	#fullpage .just-month .dgt-container{
		height: 55%;
		margin-bottom: 0 !important;
	}
	#fullpage .just-month .marks{
		height: 15%;
		align-items:center;
	}
	#fullpage .start-trial{
		height: 30%;
	}
}
@media(min-width:1280px) and (max-width:1290px){
	#fullpage .just-month .block-a img{
		max-width: none;
	}
	#fullpage .just-month .dgt-container{
		margin-bottom: 50px;
	}
	.start-trial{
		height: 36%;
		p{
			font-size: 25px;
		}
		.btn-flex{
			height: 55px;
			font-size: 18px;
		}
	}
}
@media(min-width: 1300px){
	.start-trial .btn-flex {
		height: 55px;
		font-size: 20px;
	}
	.logo-plugin img{
		width: 200px;
	}
	.dwn-flex .btn-flex{
		width:280px;
	}
	.last-step{
		margin-top:80px;
	}
	#fullpage .marks{
		>li{
			height: 60px;
	}
		.start-trial{
			/*height: 29%;
			padding: 0;*/
			height: 206px;
			padding:0;
			p{
				font-size: 20px;
				max-width: 	750px;
			}
			.btn-flex{
					height: 55px;
			}
		}
		.just-month{
			.block-a{
					min-width: 	650px;
				img{
					max-width: 400px;
				}
			}
			.block-b{
				.btn-dual{
					margin-top: 35px;
				}
			}
		}
	}
	.img-phone-pm{
		max-width:340px;
		bottom:-40px;
	}
	.tab-pane{
		margin-bottom: 40px;
	}
	footer{
		padding: 100px 0 30px 0;
	}
}
@media (min-width:1366px){
		.marks{
		justify-content:space-between;
	}
	#fullpage .start-trial p{
		font-size: 16px;
		max-width:700px;
	}
	.edge .desk-img {
	    display: flex;
	    left: auto;
	    right: 0;
	    width: auto;
	}
}
/*@media (min-height:1020px) and (max-height:1024px){
	#fullpage .just-month .block-a img{
		max-width: none;
	}
}*/
@media (min-width:1360px) and (max-width:1370px) and (orientation:landscape){
	.info-control{
		.point-client{
			display: none;
		}
	}
  	.start-trial{
  		height: 310px;
  	}
  	#fullpage .start-trial p{
  		font-size: 25px;
  	}
	#fullpage .just-month .marks{
		height: auto;
	}
	#fullpage .start-trial{
		height: 37%;
		max-height: none;
	}
}
@media (min-width: 1400px){
	.logo-plugin img{
		width: auto;
	}
	.dwn-flex .btn-flex{
		width:400px;
		padding: 0 40px;
		font-size: 30px;
		height:75px ;
	}
	.partner .dgt-container .block-part>h2, .part-program .dgt-container>h2{
		font-size: 60px;
	}
	.partner .dgt-container{
		margin: 158px auto 120px auto;
	}
	.partner .dgt-container .block-part-b{
		max-width: 590px;
	}
	.tittle-plugin{
		h2{
			font-size: 37px;
			padding:100px 0;
		}
	}
	#fullpage{
		.just-month .block-b{
			h2{
				font-size: 	45px;
				padding-top: 	80px;
			}
		}
		.info-control .items-control>li{
			margin-top:45px;
			 i{
				width: 	120px;
				height: 120px;
				font-size: 	60px;
			}
		}
		.start-trial{
			height: 34%;
			p{
				font-size: 	25px;
			}
		}
		.just-month .block-a img{
			max-width: 	650px;
		}
		.marks>li{
			height: 90px;
		}
	}
	.marks>li{
		height: 90px;
	}
	.btn-dual .btn-flex{
		width: 300px;
	}
	.block-b{
		 h2{
		 		font-size: 60px;
		}
	}
	.more-plugin h2{
		font-size: 60px;
	}
	.more-plugin .info-plugin>h4{
		font-size: 35px;
	}
	footer{
		padding: 130px 0 60px 0;
	}
	.visitor-analytics {
    font-size: 39px;
    line-height: 39px;
		}
}
@media(min-width:1600px){
	.img-phone-pm{
		max-width: 400px;
	}
	.twopane{
		margin-bottom: 150px;
		.img-phone-pm{
			bottom:-150px;
		}
	}
}
@media (max-width: 767px){
	.destr.fp-section.fp-table, .destr.fp-slide.fp-table, .destr .fp-tableCell{
		height:auto !important;
	}
}
@media(min-width: 864px) and (max-width: 960px){
	.btn-dual .btn-flex{
		&:nth-child(odd){
			width: 150px;
		}
	}
}
@media (max-width: 460px){
	.btn-dual{
		.btn-flex{
				width: 100%;
		}
	}
}