$colorweb:#0072ac;
$colorwebfondo:#0374ad;
$colorpink:#e9177a;

$fontopensemi:'open_sanssemibold';
$fontopensans:'open_sansregular';
$fontopenlight:'open_sanslight';
$fonthbold:'Helvetica Neuebold';
$fonththin:'Helvetica Neue Thin';
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/open_sans_regular-webfont.eot');
    src: url('fonts/open_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_regular-webfont.woff2') format('woff2'), url('fonts/open_sans_regular-webfont.woff') format('woff'), url('fonts/open_sans_regular-webfont.ttf') format('truetype'), url('fonts/open_sans_regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/open_sans_600-webfont.eot');
    src: url('fonts/open_sans_600-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_600-webfont.woff2') format('woff2'), url('fonts/open_sans_600-webfont.woff') format('woff'), url('fonts/open_sans_600-webfont.ttf') format('truetype'), url('fonts/open_sans_600-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neuebold';
    src: url('fonts/Helvetica Neue CE 75 Bold.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('fonts/Helvetica Neue CE 35 Thin.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/open_sans_300-webfont.eot');
    src: url('fonts/open_sans_300-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_300-webfont.woff2') format('woff2'), url('fonts/open_sans_300-webfont.woff') format('woff'), url('fonts/open_sans_300-webfont.ttf') format('truetype'), url('fonts/open_sans_300-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wr1sio');
  src:  url('fonts/icomoon.eot?wr1sio#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wr1sio') format('truetype'),
    url('fonts/icomoon.woff?wr1sio') format('woff'),
    url('fonts/icomoon.svg?wr1sio#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-FlexIDX:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-next:before {
  content: "\e919";
}
.icon-phone:before {
  content: "\e911";
}
.icon-password:before {
  content: "\e912";
}
.icon-youwebsite:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e914";
}
.icon-MLSassociation:before {
  content: "\e915";
}
.icon-yourname:before {
  content: "\e916";
}
.icon-alerts:before {
  content: "\e900";
}
.icon-analytics:before {
  content: "\e901";
}
.icon-condos:before {
  content: "\e902";
}
.icon-interactive-map:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-moredata:before {
  content: "\e905";
}
.icon-multiple:before {
  content: "\e906";
}
.icon-multiplemls:before {
  content: "\e907";
}
.icon-neighborhood-filters:before {
  content: "\e908";
}
.icon-neighborhoods:before {
  content: "\e909";
}
.icon-optimized:before {
  content: "\e90a";
}
.icon-respons:before {
  content: "\e90b";
}
.icon-seo:before {
  content: "\e90c";
}
.icon-sold:before {
  content: "\e90d";
}
.icon-take:before {
  content: "\e90e";
}
.icon-total:before {
  content: "\e90f";
}
.icon-widgets:before {
  content: "\e910";
}


@mixin ancho($width, $maxwidth) {
    max-width: $maxwidth;
    width: $width;
}
@mixin center-flex($display,$justify-content,$align-items){
    display: $display;
    justify-content:$justify-content;
    align-items:$align-items;
}